In [1]:
import requests
import pandas as pd

df = pd.DataFrame(requests.get("http://resbaz.auckland-cer.cloud.edu.au/").json())
df

                    timestamp participant_name  question  answer  is_correct
0  2024-06-26 00:02:17.639261             nick         1       2        True
1  2024-06-26 00:02:20.701660             nick         1      42       False
2  2024-06-26 00:04:38.617547             nick         1      42       False
3  2024-06-26 00:04:55.129664             nick         1      42       False